body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Grid{
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5vw;
}

.Card{
padding: 5px;
}

.FilterGrid{
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin: 5vw;
}

.SearchText{
  padding: 2px  !important;
}

.Link{
     text-decoration: none;
}

.CardDetail{
    margin-left: 0vw;
    margin-top: 2vw;
    width: 50vw;
    height:40vw !important ;
}
.Loader{
  margin-left: 45vw;
}